.rangeSliderField-container {
  width: 100%;
<<<<<<< HEAD:rangesliderfield/resources/css/sliderField.css
  margin: 7px 0 0 0;
=======
  margin: 3% 0 0 0; 
}
/* Ion.RangeSlider
// css version 1.8.1
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
position: relative; display: block;
}

.irs-line {
position: relative; display: block;
overflow: hidden;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
position: absolute; display: block;
top: 0;
}

.irs-line-left {
left: 0; width: 10%;
}

.irs-line-mid {
left: 10%; width: 80%;
}

.irs-line-right {
right: 0; width: 10%;
}

.irs-diapason {
position: absolute; display: block;
left: 0; width: 100%;
}

.irs-slider {
position: absolute; display: block;
cursor: default;
z-index: 1;
}

.irs-slider.single {
left: 10px;
}

.irs-slider.single:before {
  position: absolute; display: block; content: "";
  top: -50%; left: -100%;
  width: 300%; height: 200%;
  background: rgba(0,0,0,0.0);
}

.irs-slider.from {
left: 100px;
}

.irs-slider.from:before {
  position: absolute; display: block; content: "";
  top: -50%; left: -200%;
  width: 300%; height: 200%;
  background: rgba(0,0,0,0.0);
}

.irs-slider.to {
left: 300px;
}

.irs-slider.to:before {
  position: absolute; display: block; content: "";
  top: -50%; left: 0;
  width: 300%; height: 200%;
  background: rgba(0,0,0,0.0);
>>>>>>> 84838943ee7a443691fff87bfeee53fbe6e35827:rangesliderfield/resources/css/sliderfield.css
}

.rangeSliderField-value {
  color: #da5a47;
  font-weight: bold;
}

.rangeSliderField-input[type='range'] {
    -webkit-appearance: none !important;
    background-color: rgba(225,225,225,0);
    border-bottom: 1px dotted #ccc;
    -moz-border: 0px;
    height: 8px;
}

.rangeSliderField-input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    background-color: #96A4B3;
    height: 15px;
    width: 15px;
    cursor: ew-resize;
    margin-top: 7px;
}

.rangeSliderField-input[type='range']::-webkit-slider-thumb:hover,
.rangeSliderField-input[type='range']::-webkit-slider-thumb:focus {
    background-color: #717f8e;
}

.rangeSliderField-input[type='range']:focus,
.rangeSliderField-input[type='range']::-webkit-slider-thumb:focus {
    outline: 0;
    box-shadow: 0;
}

.rangeSliderField-minMaxContainer {
    width: 100%;
    margin: 10px 0 3px 0;
}

.rangeSliderField-min, .rangeSliderField-max {
  width: 49.458%;
  display: inline-block;
  margin-right: -0.025em;
  color: #717f8e;
}

.rangeSliderField-max {
  text-align: right;
}

.rangeSliderField-output {
  display: none;
  width: 0px;
}

<<<<<<< HEAD:rangesliderfield/resources/css/sliderField.css
.rangeSliderField-input {
  display: inline-block;
  width: 100%;
}
=======
/* Ion.RangeSlider, Flat UI Skin
// css version 1.8.1
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
height: 40px;
}

.irs-with-grid {
height: 60px;
}

.irs-line {
height: 4px; top: 25px;
background: #e0e0e0;
}

.irs-line-left {
height: 12px;
background-position: 0 -30px;
}

.irs-line-mid {
height: 12px;
background-position: 0 0;
}

.irs-line-right {
height: 12px;
background-position: 100% -30px;
}

.irs-diapason {
height: 12px; top: 25px;
background-position: 0 -60px;
}

.irs-slider {
width: 16px; height: 18px;
top: 22px;
background-position: 0 -90px;
}

.irs-slider.single {
background: #3498db;
border-radius: 10px;
width: 12px;
height: 12px;
}

#irs-active-slider, .irs-slider:hover {
background-position: 0 -120px;
}

.irs-min, .irs-max {
color: #999;
font-size: 10px; line-height: 1.333;
text-shadow: none;
font-weight: bold;
top: 0; padding: 2px 6px;
background: #e1e4e9;
border-radius: 10px;
}

.irs-from, .irs-to, .irs-single {
color: #fff;
font-size: 10px; line-height: 1.333;
text-shadow: none;
padding: 2px 7px;
background: #da5a47;
border-radius: 4px;
font-weight: bold;
}

.irs-from:after, .irs-to:after, .irs-single:after {
position: absolute; display: block; content: "";
bottom: -6px; left: 50%;
width: 0; height: 0;
margin-left: -3px;
overflow: hidden;
border: 3px solid transparent;
border-top-color: #da5a47;
}

.irs-grid-pol {
background: #e1e4e9;
}
.irs-grid-text {
color: #999;
}
>>>>>>> 84838943ee7a443691fff87bfeee53fbe6e35827:rangesliderfield/resources/css/sliderfield.css
